<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cuenta del usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Bienvenido</h1>
        <input type="hidden" name="id" th:value="${session.sessionUsuario.id}"/>
        <h2 th:if="${session.sessionUsuario != null}" th:text="${session.sessionUsuario.nombre}"></h2>
        <div class="container">
            <a th:href = "@{/usuario/editar-perfil(id=__${session.sessionUsuario.id}__)}" class="btn btn-primary btn xl rounded-pill mt-5">Edita tu perfil</a><br><br>
            <button id="goIndex" onclick="location.href = '/'">Volver al inicio</button><br><br>
            <a  th:href="@{/devolver-libro(id=__${session.sessionUsuario.id}__)}" class="btn btn-primary btn xl rounded-pill mt-5">Devolver libro</a>
        </div>
    </body>
</html>
<!-- th:if="${session.sessionUsuario.libro != null}" -->